@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Applied styles for common HTML tags */
  h1 {
    @apply text-base-content text-4xl py-5 font-bold lg:text-6xl;
  }
  h2 {
    @apply text-base-content text-3xl py-4 pb-2 mb-1 font-bold lg:text-4xl;
  }
  h3 {
    @apply text-base-content text-2xl py-3 font-bold lg:text-3xl;
  }
  h4 {
    @apply text-base-content text-xl py-2 font-bold lg:text-2xl;
  }
  h5 {
    @apply text-base-content text-lg py-1 font-bold lg:text-xl;
  }
  h6 {
    @apply text-base-content text-base font-bold lg:text-lg;
  }
  p {
    @apply text-base-content my-1 py-2 lg:text-xl leading-8;
  }

  /* Dropdowns */
  .navdrop {
    max-height: 80vh;
  }
}

/* Override DaisyUI button text color */
.btn-info {
  color: var(--btn-info-content);
}
.btn-success {
  color: var(--btn-success-content);
}
.btn-warning {
  color: var(--btn-warning-content);
}
.btn-error {
  color: var(--btn-error-content);
}

.mdx a {
  color:var(--s);
  text-decoration: underline;
}
